<div id="container" class="row large-4 medium-5 small-11 large-centered medium-centered small-centered column">

  <div id="user-forms">

    <p>You are at your goal limit.</p>

    <%= link_to "Take me to Homepage", root_path, {:class => "gradient-blue large"} %>

  </div>
</div>
