<div class="large-12 medium-12 small-12 columns">
  <form id="search-form" class="search">

    <label for="food-search">Please select a food: </label>
    <input type="text" id="food-search" name="food-choice" placeholder="Apple Pie">
    <input type="submit" value="Search" class="gradient-blue large">

  </form>
</div>
