<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" class="row large-10 medium-12 small-12 large-centered medium-centered small-centered">


  <!-- MAIN COLUMN -->
  <div class="profile large-8 medium-8 small-12 columns">

    <h3 class="page-header">Health Stats</h3>
      <div class="health-stats"></div>

  </div>


  <!-- SIDEBAR COLUMN -->
  <div class="search large-4 medium-4 small-12 columns">

    <%= render partial: "food_search_form" %>

    <h3 class="page-header">Today's Basket</h3>
      <div class="basket"></div>

    <hr>
    <div class="searched"></div><hr>
    <div class="all_badges"></div>

  </div>


</div><!-- /#CONTAINER -->






<!-- TEMPLATES -->
<script id="food-template" type="text/x-handlebars-template">
<ul id="item-list">
  {{#objects}}

    <div class="food_div">
      <li food-id={{foodId}}>
        {{objName}}
        <button id={{id}} class="add_food" style="float:right">Add</button>
          <ul id="nutrition-list">
            {{#objFields}}
              <li><b>{{fieldName}}</b>: {{fieldValue}}</li>
            {{/objFields}}
          </ul>
      </li>
    </div>

  {{/objects}}
</ul>
</script>


<script id="basket-template" type="text/x-handlebars-template">
  <ul>
    {{#oldfoodarray}}

      <li class="basket-item_{{id}}">
        {{item_name}}
        <button id={{id}} class="delete_food delete-me" style="float:right">X</button>
      </li>

    {{/oldfoodarray}}
  </ul>
</script>


<script id="health-template" type="text/x-handlebars-template">
  <dl class="tabs" style="padding:2px; width:100%" data-tab>
    {{#ourArray}}
      <dd><a href="#panel-{{id}}">{{name}}</a></dd>
    {{/ourArray}}
  </dl>

  <ul class="item-list">
    <!-- Tab panes -->
    <div class="tabs-content large-12 medium-12 small-12 columns">

      {{#ourArray}}

      <div class="content" id="panel-{{id}}">

        <div class="row large-12 medium-12 small-12 columns">
          <li class="single-track_{{id}}">

          <div class="track-header">
            {{name}}  <span id="failure-message">{{failure}}</span> <span id="success-message">{{success}}</span>
            <button id={{id}} class="delete_goal delete-me" style="float:right">X</button>
          </div>

          <div class="current-stats large-6 medium-6 small-6 columns">
            <ul>
              <li><b>Daily Goal</b>: {{limit}} {{target}} {{unit}}</li>
              <li><b>Current Total</b>: {{total}} {{unit}}</li>
              <li><b>Current</b>: {{percentage}}</li>
            </ul>
          </div>

          <div class="badges large-6 medium-6 small-6 columns">
            <div class="badges_{{id}}">badges go here</div>
          </div>

          <div class="scales large-12 medium-12 small-12 columns">
            <div id="bar_{{id}}" class="bar"></div>
            <div id="js_container_{{id}}" style="width: inherit"></div>
          </div>
        </div>

      </div>
      {{/ourArray}}
    </div>
  </ul>
</div>
</script>

<script id="badge-template" type="text/x-handlebars-template">
  <h3>Achievement Badges</h3>
  <div>
    {{#badges}}
      <li>{{name}} : Weekly Average - {{target}} {{unit}}</li>
      <br>
      <br>
      <li class="badge-limit" "badge-exceed"> </li>
    {{/badges}}
  </div>
</script>
