<div id="container" class="row large-10 medium-11 small-12 large-centered medium-centered small-centered">

<H1>Welcome to HealthAware</h1>


    <!-- SEARCH COLUMN -->
    <div class="search large-8 medium-8 small-12 columns">

        <form id="search-form" class="search">

          <label for="food-search">
            Please select a food: </label>
          <input type="text" id="food-search" name="food-choice" placeholder="Apple Pie">
          <input type="submit" value="Click!" class="gradient-blue">
        </form>
<hr>
      <div class="searched" class="testing"></div>

    </div>



    <!-- SIDEBAR COLUMN -->
    <div class="profile large-4 medium-4 small-12 columns">

      <div class="heading">Basket</div>
      <div class="basket"></div>

      <div class="heading">Health Stats</div>
        <div class="health-stats"></div>
      </div>
    </div>
  </div><!-- end of main row --><!-- end of container -->


<!-- TEMPLATES -->
<script id="food-template" type="text/x-handlebars-template">

  <ul id="item-list">
  {{#objects}}
  	<div class="food_div">
	    <li class="food" food-id={{foodId}}>{{objName}}
  	    <ul id="nutrition-list">
          {{#objFields}}
            <li>{{fieldName}}: {{fieldValue}}</li>
          {{/objFields}}
        </ul>
      </li>
		</div>
  {{/objects}}
  </ul>
</script>


<script id="basket-template" type="text/x-handlebars-template">
  {{#oldfoodarray}}
  <div class="food_div">
    <div id="basket-list">
      <ul>
        <li class="food" food-id={{API}}>
          <a href=""><b>{{item_name}}</b></a>
        </li>
      </ul>
    </div>
  </div>
  {{/oldfoodarray}}
</script>


<script id="health-template" type="text/x-handlebars-template">

  <div class="food_div">
    <li class="food">
      <ul>
        <h4>Total Protein</h4>
        <li>Percentage of your target: {{nf_protein}}</li>
        <li>Percentage of FDA: {{nf_protein_FDA_recommendation}}</li>

        <h4>Total Fat</h4>
        <li>Percentage of your target: {{nf_total_fat}}</li>
        <li>Percentage of FDA: {{nf_total_fat_FDA_recommendation}}</li>

        {{! foor all LIMIT stats }}
        {{! * need: max_amount }}
        {{! * need: desired_amount }}
        {{! * need: percentage (current/desired) }}

        {{! need: if percentage < 35% to give red bar }}
        <div class="bar">
          <div class="barandgrowth red_bar" style='max-width: 20%'>
            <div class="buffering"></div>
          </div>
        </div>

        {{! need: if percentage > 85% to give green bar }}
        <div class="bar">
          <div class="barandgrowth green_bar" style="max-width: 100%">
            <div class="buffering"></div>
          </div>
        </div>

        {{! need: if percentage is not either, give yellow bar }}
        <div class="bar">
          <div class="barandgrowth yellow_bar" style="max-width: 50%">
            <div class="buffering"></div>
          </div>
        </div>
        {{! end LIMIT stats }}
      </ul>
    </li>
  </div>
</script>
