
<div id="container" class="row large-10 medium-11 small-12 large-centered medium-centered small-centered">

    <!-- SEARCH COLUMN -->
    <div class="search large-8 medium-8 small-12 columns">

        <form id="search-form" class="search">

          <label for="food-search">
            Please select a food: </label>
          <input type="text" id="food-search" name="food-choice" placeholder="Apple Pie">
          <input type="submit" value="Click!" class="gradient-blue large">
        </form>
<hr>
      <div class="searched"></div>

    </div>



    <!-- SIDEBAR COLUMN -->
    <div class="profile large-4 medium-4 small-12 columns">

  <h5>Hey <%=current_user.username%>!</h5>
  <h6>You account was created: <%="#{time_ago_in_words(current_user.created_at)} ago" %></h6>
  <% if current_user.goals.count > 0 %>
    <h6>You last add goals
    <%="#{time_ago_in_words(current_user.goals.last.updated_at)} ago" %>
    </h6>
  <% end %>
      <div class="heading">Health Stats</div>
        <div class="health-stats"></div>
      <div class="heading">Basket</div>
      <div class="basket"></div>

      </div>
    </div>
  </div><!-- end of main row --><!-- end of container -->


<!-- TEMPLATES -->
<script id="food-template" type="text/x-handlebars-template">

  <ul id="item-list">
  {{#objects}}
    <div class="food_div">
      <li class="food" food-id={{foodId}}>{{objName}}
        <ul id="nutrition-list">
          {{#objFields}}
            <li>{{fieldName}}: {{fieldValue}}</li>
          {{/objFields}}
        </ul>
      </li>
    </div>
  {{/objects}}
  </ul>
</script>


<script id="basket-template" type="text/x-handlebars-template">
  {{#oldfoodarray}}
  <div class="food_div">
    <div id="basket-list">
      <ul>
        <li class="food">
          {{item_name}}
          <button id={{id}} class="delete_food delete-me" style="float:right">X</button>
        </li>
      </ul>
    </div>
  </div>
  {{/oldfoodarray}}
</script>


<script id="health-template" type="text/x-handlebars-template">
  <div>
  <ul>
    <li class="food">
      {{#ourArray}}
        <div id={{id}}>
          <div class="health-track">
            {{name}}<button id={{id}} class="delete_goal delete-me" style="float:right">X</button></div>

          Desired Target: &nbsp;&nbsp; {{target}} {{unit}}<br>
          Curernt Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{total}} {{unit}}<br>
          Current: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  {{percentage}}%<br>
          Limit: {{limit}}<br>
        </div><br>
      {{/ourArray}}
    </li>
    <hr>
  </ul>
  </div>
</script>
