<div id="container" class="row large-10 medium-11 small-12 large-centered medium-centered small-centered">



    <!-- SEARCH COLUMN -->
    <div class="search large-8 medium-8 small-8 columns">

        <form id="search-form" class="search">

          <label for="food-search">
            Please select a food: </label>
          <input type="text" id="food-search" name="food-choice" placeholder="Apple Pie">
          <input type="submit" value="Click!" class="button">
        </form>
<hr>
      <div class="searched" class="testing">searched</div>

    </div>



    <!-- SIDEBAR COLUMN -->
    <div class="profile large-4 medium-4 small-4 columns">

      <div class="heading">Basket</div>
      <div class="basket">basket stuff</div>

      <div class="heading">Health Stats</div>
        <div class="health-stats">

<!--      {{#tracks}} -->
          <h4>Track Title:</h4>
          <p>track info <-- not in template</p>

<!--      {{#if percentages (this < 40% of desired) }} -->
          <div class="bar">
            <div class="barandgrowth red_bar" style="max-width: 30%">
              <div class="buffering"></div>
            </div>
          </div>

<!--      {{#elsif percentage > 70% of desired}} -->
          <div class="bar">
            <div class="barandgrowth green_bar" style="max-width: 100%">
              <div class="buffering"></div>
            </div>
          </div>

<!--      {{else}} -->
          <div class="bar">
            <div class="barandgrowth yellow_bar" style="max-width: 50%">
              <div class="buffering"></div>
            </div>
          </div>

<!--      {{/percentage}} -->
<!--      {{/tracks}} -->

        </div>
      </div>
    </div>
  </div><!-- end of main row --><!-- end of container -->


<!-- TEMPLATES -->
<script id="food-template" type="text/x-handlebars-template">
  <ul id="item-list"><li><ul>
  {{#hits}}
  	<div class="food_div">
	    <li class="food" food-id={{_id}}>
        <a href="#">
          {{fields.brand_name}}: {{fields.item_name}}
        </a>
  	    <ul class="nutrition-list">
          <li><a href="#">Calories: {{fields.nf_calories}}</a></li>
          <li><a href="#">Total Fat: {{fields.nf_total_fat}}</a></li>
        </ul>
      </li>
		</div>
  {{/hits}}
  </ul></li></ul>
</script>

<script id="basket-template" type="text/x-handlebars-template">
  {{#oldfoodarray}}
  <div class="food_div">
    <div id="basket-list">
      <ul>
        <li class="food" food-id={{API}}><b>{{fields.brand_name}}</b>: {{item_name}}
          // <ul>
          //   <li>Calories: {{nf_calories}}</li>
          //   <li>Total Fat: {{nf_total_fat}}</li>
          // </ul>
        </li>
      </ul>
    </div>
  </div>
  {{/oldfoodarray}}
</script>


<script id="health-template" type="text/x-handlebars-template">
  <div class="food_div">
      <li class="food">
      <ul>
        <b>Total Protein</b>
        <li>Percentage of your target: {{nf_protein}}</li>
        <li>Percentage of FDA: {{nf_protein_FDA_recommendation}}</li>

        <b>Total Fat</b>
        <li>Percentage of your target: {{nf_total_fat}}</li>
        <li>Percentage of FDA: {{nf_total_fat_FDA_recommendation}}</li>
      </ul>
    </div>
</script>
