<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" class="row large-10 medium-11 small-12 large-centered medium-centered small-centered">


  <!-- MAIN COLUMN -->
  <div class="profile large-8 medium-8 small-12 columns">

<!--     <div id="profile-stats">
      <%= render partial: "profile_stats" %>
    </div> -->

    <h3 class="heading">Health Stats</h3>
      <div class="health-stats"></div>
    <h3 class="heading">Today's Basket</h3>
      <div class="basket"></div>

  </div>


  <!-- SIDEBAR COLUMN -->
  <div class="search large-4 medium-4 small-12 columns">

    <%= render partial: "food_search_form" %>
    <hr>
    <div class="searched"></div>

  </div>

  <div class="all_badges"></div>

  <%= render partial: 'supposed_footer' %>


</div><!-- /#CONTAINER -->

<!-- TEMPLATES -->
<script id="food-template" type="text/x-handlebars-template">
<ul id="item-list">
  {{#objects}}

    <div class="food_div">
      <li food-id={{foodId}}>
        <button id={{id}} class="add_food">{{objName}}</button>
          <ul id="nutrition-list">
            {{#objFields}}
              <li><b>{{fieldName}}</b>: {{fieldValue}}</li>
            {{/objFields}}
          </ul>
      </li>
    </div>

  {{/objects}}
</ul>

</script>


<script id="basket-template" type="text/x-handlebars-template">
  <ul>
    {{#oldfoodarray}}

      <li class="basket-item_{{id}}">
        {{item_name}}
        <button id={{id}} class="delete_food delete-me" style="float:right">X</button>
      </li>

    {{/oldfoodarray}}
  </ul>
</script>


<script id="health-template" type="text/x-handlebars-template">
  <ul>
    {{#ourArray}}
      <div class="row large-12 medium-12 small-12 columns">
      <li class="single-track_{{id}}">
        <div class="track-header">
          {{name}}  <span id="failure-message">{{failure}}</span> <span id="success-message">{{success}}</span>
          <button id={{id}} class="delete_goal delete-me" style="float:right">X</button>
        </div>
        <div class="large-6 medium-6 small-6 columns">
        <ul>
          <li><b>Daily Goal</b>: {{limit}} {{target}} {{unit}}</li>
          <li><b>Current Total</b>: {{total}} {{unit}}</li>
          <li><b>Current</b>: {{percentage}}</li>
        </ul>
        </div>
          <div class="large-6 medium-6 small-6 columns">
            <div class="badges_{{id}}"></div>
          </div>

          <div class="large-12 medium-12 small-12 columns">
              <div id="bar_{{id}}" class="bar"></div>
              <div id="js_container_{{id}}"></div><br>
          </div>
        </li>
      </div>
    {{/ourArray}}
  </ul>
</script>

<script id="badge-template" type="text/x-handlebars-template">

  <div>
    <h4>Reach Badges </h4>
    {{#reach_badges}}
      <li> {{name}} : {{target}} {{unit}} - Attained: {{time}} </li>
    {{/reach_badges}}
  </div>


  <div>
    <h4> Limit Badges </h4>
    {{#limit_badges}}
      <li> {{name}} : {{target}} {{unit}} - Attained: {{time}} </li>
    {{/limit_badges}}
  </div>

</script>



