<div id="container" class="row large-4 medium-5 small-11 large-centered medium-centered small-centered column">

  <div id="user-forms">

    <h3>You are at your goal limit!</h3><br>

    <%= link_to "Take me to Homepage", root_path, {:class => 'gradient-blue'} %>

  </div>
</div>
