@import "foundation";

//META INPUTS
$main-background-tabbed: #d3d9dc;
$main-background-color: #f5f5f5;
$box-color: #ffffff;
$black-color: #000;
$blue-reserve: #006fd0;
$dark-blue: #28384f;
$blue-link: #295882;
$blue-link-hover: #295882;
$light-blue-link: #85c3dd;

$very-light-red: #fd5421;
$light-red: #e93030;
$dark-red: #b31010;
$light-yellow: #ffc61d;
$dark-yellow: #ffa406;
$light-green: #9ffe20;
$dark-green: #7db522;

$light-grey: #d9d9d9;
$dark-grey: #888888;
$box-shadow: 1px 1px 1px #888888;
$grey-shadow: 0.5px 0.5px #ececec;
$dark-grey-shadow: 0.5px 0.5px #d9d9d9;
$main-text-family: Helvetica, Verdana, Arial, sans-serif;
$light-black: #2D2D2D;
$track-title-size: 1em;
@mixin pre-delete {
  background-color: $main-background-color;
  border-radius: 2px;
  padding: 5px;
  text-decoration: none;
  color: #000000;
  display: block;
  // width: 200px;
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

@mixin delete-active {
  font-weight: normal;
  font-size: 0.9em;
  letter-spacing: 0.5;
  background: $light-red;
  color: white;
}

@mixin box_sizing {
  margin: 5px;
  padding: 5px;
}

@mixin four-transit {
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

@mixin fast-color-transit {
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

@mixin bar-setup {
  height: 15px;
  float: left;
}

@mixin fl-form {
  margin-left: 5px;
  float: left;
  display:inline;
  }

////////////////////////////////////////

body {
  // min-height: 1000px;
  // height: 100%;
  margin: 0;
  // top: 0;
  // bottom: 0;
  padding: 0;
  font-size: 14px;
  a {
    color:$blue-link;
    text-transform: none;
    &:hover {
      color:$dark-blue;
      text-transform: none;
    }
  }
  p {
    padding: 5px 15px;
    font-size: 0.8em;
    }
  }

ul {
  margin-left: 0px;
}

.small {
  a {
  font-size: 0.7em;
  color: $dark-grey;
  padding-left: 5px;
  }
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1em 0;
  padding: 0;
  height: 2.3125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
span.error, small.error {
  margin-bottom:0;
}
.row {
  // width: 1000px;
  max-width: 100%;
  // min-width: 768px;
  margin: 0 auto;
}

h4 {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 5px 0px 0px;
  margin-left: 0px;
  }

.page-header {
  font-size:1.7em;
  padding-left: 10px;
  border-bottom: 1.5px solid $blue-link;
  margin-bottom: -8px;
  }


//// buttons
button, .button {
  margin-bottom: 0px;
}

button.delete_me {
  font-size: 1em;
  padding: 3px 5px;
  text-align:left;
  border-radius: 3px;
  background-color:transparent;
  color: $light-black;
  &:active {
    color: white;
    border-radius: 3px;
    background-color: $light-red;
    }
  }


.delete-me {
  font-weight:bold;
  padding: 1px 5px;
  text-align: left;
  &:hover {
    color: white;
    border-radius: 3px;
    background-color: $light-red;
    }
  }

.big-chart {
  width:100%;
}

/////////////////// TOP BAR /////////////

.top-bar {
  min-height: 70px;
  background-color: $dark-blue;
  ul.title-area {
    padding-bottom: 20px;
    li.name {
    line-height: 140px;
    font-size: 2em;
    line-height: 45px;
    padding-top:10px;
    a {
      font-weight: normal;
      color: white;
      padding: 10px 15px 10px 15px;
      text-shadow: #000;
      &:visited {}
      }
    }
  .expanded .title-area {
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: inherit;
    background-color:$dark-blue;
    }
  }
  .top-bar-section {
    padding-bottom: 20px;
    ul {
      padding-top: 15px;
      letter-spacing: 0.5px;
      color: $light-blue-link;
      background-color: $dark-blue;
      ul.right li a {
        color: $light-blue-link;
        background-color: $dark-blue;
        }
    }
    li:not(.has-form) a:not(.button) {
      padding-top: 10px;
      font-size: 0.9em;
      letter-spacing: 0.5px;
      background-color: $dark-blue;
      // border-bottom: 1px solid $light-black; // $dark-grey
      &:hover {
        background-color: $dark-blue;
        }
      }
    }
  }

.button, .button {
  margin-bottom: 0px;
}

#container {
  padding-top: 10px;
  max-width:1200px;
  min-width:400px;
}

/////////////////// REGISTRATION FORM /////////////
#user_forms .field {
  padding:10px;
  font-size: 1em;
  label {
    padding-top: 10px;
    // width: 25%;
    // min-width: 135px;
    @include fl-form;
  }
  input[type="text"] {
    width: 80%;
    // min-width: 120px;
    @include fl-form;
    }
  input[type="submit"] {
    width: 15%;
    // min-width: 75px;
    @include fl-form;
    float: center;
    text-align: left;
    }
  }


/////////////////// MAIN COLUMN /////////////

.profile {
  margin-top: 10px;
  height: 100%;
  position:relative;
  h3.heading {
    font-size:1.4em;
    padding: 10px;
    border-bottom:1.5px solid $blue-link;
    text-align:left;
    }
  }

#profile-stats {
  margin-top: 10px;
  margin-bottom: 10px;
  // box-shadow: $box-shadow;
  height: 100%;
  position:relative;
  h6 {
    font-size: 0.7em;
    color: $dark-grey;
    padding-left: 5px;
    }
  }


////////// TAB BARS /////

.tabs {
  *zoom: 1;
  width: 100%;
  margin-bottom: 0 !important; }
  .tabs:before, .tabs:after {
    content: " ";
    display: table; }
  .tabs:after {
    clear: both; }
  .tabs dd {
    position: relative;
    margin-bottom: 0 !important;
    top: 1px;
    float: left; }
    .tabs dd > a {
      margin-left: 2px;
      margin-right: 2px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
      display: block;
      background: $light-grey;
      color: $light-black;
      padding-top: 5px; //0.88889rem;
      padding-right: 5px; //1.77778rem;
      padding-bottom: 5px; //0.94444rem;
      padding-left: 5px; //1.77778rem;
      font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
      font-size: 0.88889rem; }
      .tabs dd > a:hover {
        background: $dark-grey;}
    .tabs dd.active a {
      background: $blue-link;
      color: #ffffff; }
  .tabs.radius dd:first-child a {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .tabs.radius dd:last-child a {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .tabs.vertical dd {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
  *zoom: 1;
  margin-bottom: 1.33333rem; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0.83333rem 0; }
    .tabs-content > .content.active {
      display: block; }
    .tabs-content > .content.contained {
      padding: 0.83333rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.83333rem; }

@media only screen and (min-width:40.063em) {
  .tabs.vertical {
    width: 20%;
    float: left;
    margin-bottom: 1.25rem; }
  .tabs-content.vertical {
    width: 80%;
    float: left;
    margin-left: -1px; } }


//// HEALTH STATS ///
// ul#item-list {
//   li {
//     ul {
//       margin-top:5px;
//       padding-left:15px;
//       .tabs-content {
//         // display:block;
//
//         li {
//           padding-top: 1px;
//           border-bottom:none;
//           list-style-type:none;
//           // list-style-type:square;
//           }
//         }
//       }
//     }
//   }


.health-stats {
  @include box_sizing;
  display: block;
  max-height: 40%;
  padding: 0px;
  ul {
    li {
      padding-top:5px;
      list-style-type: none;
      font-size: 0.8em;
      padding-left: 5px;
      border-bottom: 1px solid $light-grey;
      &:last-child {
        border: none;
        border-bottom: none;
        }
      }
      .track-header {
        text-transform: uppercase;
        font-size: 1em;
        text-align: left;
        font-weight: bold;
        display:block;
        button {
          background-color: $main-background-color;
          border-radius: 2px;
          padding: 5px;
          text-decoration: none;
          color: #000000;
          display: block;
          -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
          -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
          -o-transition: font-size 0.3s ease, background-color 0.3s ease;
          -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
          transition: font-size 0.3s ease, background-color 0.3s ease;
          &:hover {
            @include delete-active
          }
          &:active {
            @include delete-active
            }
          }
        }
        #failure-message {
          color: red;
        }
        #success-message {
          color: green;
        }
        .current-stats {
          display:block;
        }
        .badges {
          text-align: right;
          display:block;
        }
        .scales {
          display:block;
        }
        ul {
          margin-top:5px;
          padding-left:15px;
          li {
            padding-top: 1px;
            border-bottom:none;
            list-style-type:none;
            // list-style-type:square;
            }
          }
      .bar {
        display: block;
        height: 23px;
        padding: 3px;
        margin: 10px;
        border-radius: 3px;
        border: 1px solid $light-grey;
        background-color:white;
        position: relative;
        .reach {
        background: -webkit-linear-gradient(left, $very-light-red , $light-green); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, $very-light-red, $light-green); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, $very-light-red, $light-green); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, $very-light-red , $light-green); /* Standard syntax */
        filter: alpha(opacity=60);
        -moz-opacity: 0.6;
        -khtml-opacity: 0.6;
        // opacity: 0.6;
          }
        .limit {
        background: -webkit-linear-gradient(left, $light-green , $very-light-red); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, $light-green, $very-light-red); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, $light-green, $very-light-red); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, $light-green , $very-light-red); /* Standard syntax */
        filter: alpha(opacity=60);
        -moz-opacity: 0.6;
        -khtml-opacity: 0.6;
        // opacity: 0.6;
        }
        .barandgrowth  {
          // opacity: none;
          display: inline-block;
          height: 15px;
          position: absolute;
          width: 0%;
          background-color: #777;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
          -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
          box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
          -webkit-animation: growth 2s 1 forwards;
          -moz-animation: growth 2s 1 forwards;
          -ms-animation: growth 2s 1 forwards;
          animation: growth 2s 1 forwards;
        }

        // Progress Bar buffering
        .buffering {
            height: 15px;
            width: 100%;
            overflow: hidden;
            background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
            -moz-opacity: 0.25;
            -khtml-opacity: 0.25;
            opacity: 0.25;
            -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
            filter: alpha(opacity=25);
          }
        }
      }
    }


/////////////////// SEARCH COLUMN /////////////
.track-header {
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
  button {
    background-color: $main-background-color;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    color: #000000;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    &:hover {
      @include delete-active
    }
    &:active {
      @include delete-active
      }
    }
  }
  ul {
    margin-top:5px;
    padding-left:15px;
    li {
      padding-top: 1px;
      border-bottom:none;
      list-style-type:none;
      // list-style-type:square;
      }
    }


/// TODAYS BASKET ///
.basket {
  @include box_sizing;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1em;
  display: block;
  font-weight: bold;
  ul {
    list-style-type: none;
    margin-bottom:1px;
    // margin-bottom: 0;
    // margin: auto;
    padding: 0;
    li {
      width: inherit;
      background-color: $main-background-color;
      // background-color: transparent;
      text-transform: uppercase;
      font-size: 0.9em;
      // border: 1px blue solid;
      border-bottom: 1px solid $light-grey;
      &:last-child {
        border: none;
        border-bottom: none;
        }
      button {
        background-color: $main-background-color;
        border-radius: 2px;
        padding: 1px 5px;
        text-decoration: none;
        color: #000000;
        display: block;
        // width: 200px;
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        &:active {
          @include delete-active
          }
        }
      }
    }
  }

////// SEARCH FORM //
.search {
  margin-top: 10px;
  padding-bottom: 5px;
  height: 100%;
  position:relative;
  #search-form {
    position:inherit;
    label {
      padding-top: 10px;
      width: 25%;
      min-width: 135px;
      @include fl-form;
    }
    input[type="text"] {
      width: 55%;
      min-width: 120px;
      @include fl-form;
      }
    input[type="submit"] {
      width: 15%;
      min-width: 75px;
      @include fl-form;
      }
    }
  }

/////// SEARCH RESULTS //
.track-header {
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  display:block;
  button {
    background-color: $main-background-color;
    border-radius: 2px;
    padding: 5px;
    text-decoration: none;
    color: #000000;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
    &:hover {
      @include delete-active
    }
    &:active {
      @include delete-active
      }
    }
  }

.searched {
  margin: 5px;
  padding: 5px;
  ul {
    font-size:1em;
    font-weight:normal;
    padding-left: 10px;
    list-style-type: none;
    margin-bottom:10px;
    li {
      font-size: 1em;
      button {
        height:auto;
        box-shadow: $box-shadow;
        border: 0px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: $blue-link;
        font-size: 1em;
        padding: 9px;
        color: white;
        text-shadow: $light-black;
        margin-bottom:0px;
        li {
          font-size: 0.9em;
          }
        }
      }
    }
  }


/////////////////// BUTTONS /////////////
.centered-button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.pretty-blue {
  box-shadow: $box-shadow;
  border: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: $blue-link;
  font-size: 1.1em;
  padding: 5px;
  color: white;
  text-shadow: $dark-grey-shadow;
  }

.gradient-blue {
	-moz-box-shadow:inset 0px 1px 0px 0px #aac6e0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #aac6e0;
	box-shadow:inset 0px 1px 0px 0px #aac6e0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #15568f), color-stop(1, #19334c) );
	background:-moz-linear-gradient( center top, #15568f 5%, #19334c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#15568f', endColorstr='#19334c');
	background-color:#15568f;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #264c70;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 0px 0px #11518c;
  &:active {
    position:relative;
    top:1px;
    }
  &:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #19334c), color-stop(1, #15568f) );
    background:-moz-linear-gradient( center top, #19334c 5%, #15568f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#19334c', endColorstr='#15568f');
    background-color:#19334c;
    }
  }

  .large {
    font-size:15px;
    // height:33px;
    min-height:33px;
    height: 100%;
    max-height: 150px;
    // line-height:33px;
    min-width:74px;
    width: 100%;
    max-width: 130px;
  }

button.small {
  padding:10px;
  // height:33px;
  min-height:13px;
  height: 100%;
  max-height: 20px;
  // line-height:33px;
  min-width:24px;
  width: 100%;
  max-width: 70px;
  line-height: 2.5px;
  }

.bigger-gradient-blue {
  min-width:200px;
  max-width: 500px;
  // width: 100%;
  padding: 7px 7px;
}


/////////////////// PROGRESS BARS /////////////
.progress-bar {
  background-color: white;
  height: 25px;
  padding: 5px;
  margin-bottom: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  span {
    display: inline-block;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    @include four-transit;
  }
}
.green_bar {
  @include bar-setup;
	background-color: $light-green;
	background-image: -webkit-gradient(linear, left top, left bottom, from($light-green), to($dark-green));
	background-image: -webkit-linear-gradient(top, $light-green, $dark-green);
	background-image: -moz-linear-gradient(top, $light-green, $dark-green);
	background-image: -ms-linear-gradient(top, $light-green, $dark-green);
	background-image: -o-linear-gradient(top, $light-green, $dark-green);
	background-image: linear-gradient(top, $light-green, $dark-green);
}

.red_bar {
  @include bar-setup;
  background-color: $light-red;
  background-image: -webkit-gradient(linear, left top, left bottom, from($light-red), to($dark-red));
  background-image: -webkit-linear-gradient(top, $light-red, $dark-red);
  background-image: -moz-linear-gradient(top, $light-red, $dark-red);
  background-image: -ms-linear-gradient(top, $light-red, $dark-red);
  background-image: -o-linear-gradient(top, $light-red, $dark-red);
  background-image: linear-gradient(top, $light-red, $dark-red);
}

.yellow_bar {
  @include bar-setup;
  background-color: $light-yellow;
  background-image: -webkit-gradient(linear, left top, left bottom, from($light-yellow), to($dark-yellow));
  background-image: -webkit-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -moz-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -ms-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -o-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: linear-gradient(top, $light-yellow, $dark-yellow);
}



//////// Progress Bar Animation
// http://cssdeck.com/labs/animated-progress-bar
@-webkit-keyframes growth {
    from { }
    to { width: 99% }
}

@-moz-keyframes growth {
    from { }
    to { width: 99% }
}

@-ms-keyframes growth {
    from { }
    to { width: 99% }
}

@keyframes growth {
    from { }
    to { width: 99% }
}

.badge-exceed {
//  background-image: url("../images/badge.svg");
  //background-image:url('badge.jpg');
  content: url(badge.jpg);
  width: 50px;
  height: 50px;
  float:left;
  display:inline
}

/////////////////// FOOTER /////////////

.custom-label-class {
  padding: 7px 16px 9px;
  font-size:1.5em;
  background-color: $blue-link;
  border-radius:4px;
}

.footer-peice {
  height:inherit;
  min-height: 100%;
  padding-top: 5px;
  background-color: $dark-blue;
  color: white;
  margin-bottom: 5px;
  h3 {
    color: white;
  }
  a {
    color: $light-blue-link;
    &:hover {
      color: $light-blue-link;
    }
  p {
    font-size: 1em;
    letter-spacing: 0.5px;
    }
  }
}
.badge_tag{
  float: left;
  display:inline;
}
 .badges{
  margin-top:15px;
  margin-left:0px;
  float:left;
}
nav.navbar .navbar-default .navbar-bottom.container {
  background-color: $dark-blue;
  color: white;
}

nav {
  background-color: $dark-blue;
  color: white;
}

.navbar {
  background-color: inherit;
  color: white;
}
.navbar-bottom {
  background-color: inherit;
  color: white;
}

.footer{
  padding: 10px;
  margin: 10px;
  border-top: 1px solid $blue-link;
  color: $dark-grey;
}


/////////////////// RESOURCES /////////////

//SHINE ANIMATION
//
// .pulse span {
//   position: relative;
// }
//
// .pulse span::after {
//   content: '';
//   // opacity: 0;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(255, 255, 255, 1);
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
//   border-radius: 3px;
//
//   -webkit-animation: pulsing 2s ease-out infinite;
//   -moz-animation: pulsing 2s ease-out infinite;
// }
//
// @-webkit-keyframes pulsing {
//   0% {opacity: 1; width: 0;}
//   50% {opacity: .5;}
//   100% {opacity: 0; width: 100%;}
// }
//
// @-moz-keyframes pulsing {
//   0% {opacity: 1; width: 0;}
//   50% {opacity: .5;}
//   100% {opacity: 0; width: 100%;}
// }


// single pixel listing
// http://css-tricks.com/style-a-list-with-one-pixel/
// #item-list {
//   li {
//     list-style-type: none;
//     margin: 15px 0 20px;
//     padding: 0px 0px 0px 10px;
//     a {
//       background: $main-background-color;
//       color: #1F6DD9;
//       display: block;
//       padding: 0px 3px 3px 3px;
//       &:hover {
//         color: #84B8FF;
//         }
//       }
//     ul {
//       li {
//         font-size: 1em;
//         background: transparent url("http://css-tricks.com/examples/ULStyle/images/graypixel.png") repeat-x 0 8px;
//         margin: 4px 0 4px 5px;
//         padding: 0px 0px 0px 10px;
//         a {
//           font-size: 0.9em;
//           padding: 0px 0px 0px 3px;
//           }
//         ul {
//           margin-left: 1px;
//           font-size: 0.9em;
//           background: transparent url("http://css-tricks.com/examples/ULStyle/images/graypixel.png") repeat-y 15px 0;
//           margin-bottom: 10px;
//           li {
//             font-size: 0.9em;
//             margin-left: 16px;
//             padding-left: 10px;
//             }
//           }
//         }
//       }
//     }
//   }
