@import "foundation";

//META INPUTS
$main-background-color: #f5f5f5;
$box-color: #ffffff;
$black-color: #000;
$blue-reserve: #006fd0;
$blue-link: #28384f;
$blue-link-hover: #295882;
$light-blue-link: #66a3c2;

$light-red: #e93030;
$dark-red: #b31010;
$light-yellow: #ffc61d;
$dark-yellow: #ffa406;
$light-green: #9ffe20;
$dark-green: #7db522;

$light-grey: #d9d9d9;
$dark-grey: #888888;
$box-shadow: 1px 1px 1px #888888;
$grey-shadow: 0.5px 0.5px #ececec;
$dark-grey-shadow: 0.5px 0.5px #d9d9d9;
$main-text-family: Helvetica, Verdana, Arial, sans-serif;
$light-black: #2D2D2D;
$track-title-size: 1em;


@mixin box_sizing {
  margin: 5px;
  padding: 5px;
  background-color:white;
}

@mixin four-transit {
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -ms-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
}

@mixin fast-color-transit {
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

@mixin bar-setup {
  height: 15px;
  float: left;
}

////////////////////////////////////////

body {
  height: 800px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  a {
    color: $blue-link;
    text-decoration: none;
    line-height: inherit;
    }
  a:visited {
    color: $blue-link;
    }
  p {
    padding: 5px 35px;
    font-size: 1em;
    }
  .testing {
    background-color: purple;
    }
  }

.row {
  // width: 1000px;
  max-width: 100%;
  // min-width: 768px;
  margin: 0 auto;
}

//TOP BAR
.top-bar {
  padding-top: 15px;
  height: 90px;
  background-color: $main-background-color;
  color: $black-color;
  text-shadow: $grey-shadow;
  .name {
    font-size: 2em;
    line-height: 45px;
    a {
      font-weight: normal;
      color: $blue-link;
      padding: 0 15px;
      }
    }
  .toggle-topbar.menu-icon {
    color: $blue-link;
    a {
      color: $blue-link;
      }
    }
  }

.top-bar-section li:not(.has-form) {
  a:not(.button) {
    background-color: $main-background-color;
    color: $blue-link;
    text-shadow: $grey-shadow;
    font-size: 0.9em;
    }
  a:not(.button):hover {
    background-color: $main-background-color;
    color: $blue-link-hover;
    }
  }

#container {
  max-width:1200px;
  min-width:400px;
}

///SEARCH COLUMN

@mixin fl-form {
  margin-left: 10px;
  float: left;
  display:inline;
}

.search {
  padding: 5px;
  #search-form {
    label {
      width: 25%;
      min-width: 135px;
      @include fl-form;
    }
    input[type="text"] {
      width: 50%;
      min-width: 135px;
      @include fl-form;
      }
    input[type="submit"] {
      width: 15%;
      min-width: 75px;
      @include fl-form;
      }
    }
  }

.searched {
  background-color: $box-color;
  border: 1px grey solid;
  padding: 5px;
  }


//SIDEBAR
.profile {
  box-shadow: $box-shadow;
  padding: 5px;
  // height: auto;
  height: 100%;
  position:relative;
  // min-height: 400px;
  .heading {
    font-size:1.2em;
    padding: 10px;
    border-bottom:1.5px solid $blue-link;
    text-align:left;
    }
  .basket {
    @include box_sizing;
    height: 30%;
    position: relative;
    display: block;
    }
  .health-stats {
    @include box_sizing;
    // padding: 5px;
    display: block;
    height: 40%;
    h4 {
      font-size: 1.1em;
      letter-spacing: 0.5px;
      font-weight:bold;
      padding-left: 2px;
      text-transform: uppercase;
      padding: 5px 5px 1px 5px;
      }
    li {
      font-size: 1em;
      padding-left: 5px;
      }
    .bar {
      display: block;
      height: 15px;
      padding:2px;
      }
    }
  }




/// BUTTONS
.button {
  width: auto;
  background: $blue-link;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  @include fast-color-transit;
  &:hover {
    color: white;
    background-color: $blue-link-hover;
  }
  &:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }
}

.pretty-blue {
  box-shadow: $box-shadow;
  border: 0px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: $blue-link;
  font-size: 1.1em;
  padding: 5px;
  color: white;
  text-shadow: $dark-grey-shadow;
  }


////PROGRESS BARS
// #bar {
//   padding-right: 15px;
//   padding-left: 15px;
//   margin:5px;
//   background-color: $light-black;
//   border-radius:2px;
//   position: inherit;
//   clear: both;
// }

.progress-bar {
  background-color: white;
  height: 25px;
  padding: 5px;
  margin-bottom: 18px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  span {
    display: inline-block;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    @include four-transit;
  }
}
.green_bar {
  @include bar-setup;
	background-color: $light-green;
	background-image: -webkit-gradient(linear, left top, left bottom, from($light-green), to($dark-green));
	background-image: -webkit-linear-gradient(top, $light-green, $dark-green);
	background-image: -moz-linear-gradient(top, $light-green, $dark-green);
	background-image: -ms-linear-gradient(top, $light-green, $dark-green);
	background-image: -o-linear-gradient(top, $light-green, $dark-green);
	background-image: linear-gradient(top, $light-green, $dark-green);
}

.red_bar {
  @include bar-setup;
  background-color: $light-red;
  background-image: -webkit-gradient(linear, left top, left bottom, from($light-red), to($dark-red));
  background-image: -webkit-linear-gradient(top, $light-red, $dark-red);
  background-image: -moz-linear-gradient(top, $light-red, $dark-red);
  background-image: -ms-linear-gradient(top, $light-red, $dark-red);
  background-image: -o-linear-gradient(top, $light-red, $dark-red);
  background-image: linear-gradient(top, $light-red, $dark-red);
}

.yellow_bar {
  @include bar-setup;
  background-color: $light-yellow;
  background-image: -webkit-gradient(linear, left top, left bottom, from($light-yellow), to($dark-yellow));
  background-image: -webkit-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -moz-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -ms-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: -o-linear-gradient(top, $light-yellow, $dark-yellow);
  background-image: linear-gradient(top, $light-yellow, $dark-yellow);
}

.barandgrowth  {
  display: inline-block;
  height: inherit;
  width: 0%;
	background-color: #777;
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  -webkit-animation: growth 2s 1 forwards;
  -moz-animation: growth 2s 1 forwards;
  -ms-animation: growth 2s 1 forwards;
  animation: growth 2s 1 forwards;
}

// Progress Bar buffering
.buffering {
    height: 15px;
    width: 100%;
    overflow: hidden;
    background: url('http://www.cssdeck.com/uploads/media/items/7/7uo1osj.gif') repeat-x;
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25);
    filter: alpha(opacity=25);
}

//////// Progress Bar Animation
// http://cssdeck.com/labs/animated-progress-bar
@-webkit-keyframes growth {
    from { }
    to { width: 100% }
}

@-moz-keyframes growth {
    from { }
    to { width: 100% }
}

@-ms-keyframes growth {
    from { }
    to { width: 100% }
}

@keyframes growth {
    from { }
    to { width: 100% }
}





//// TEMPLATE LISTING
// single pixel listing
// http://css-tricks.com/style-a-list-with-one-pixel/
#item-list {
  li {
    list-style-type: none;
    margin: 15px 0 20px;
    padding: 0px 0px 0px 10px;
    a {
      background: white;
      color: #1F6DD9;
      display: block;
      padding: 0px 3px 3px 3px;
      &:hover {
        color: #84B8FF;
        }
      }
    ul {
      li {
        font-size: 1em;
        background: transparent url("http://css-tricks.com/examples/ULStyle/images/graypixel.png") repeat-x 0 8px;
        margin: 4px 0 4px 5px;
        padding: 0px 0px 0px 20px;
        a {
          font-size: 0.9em;
          padding: 0px 0px 0px 3px;
          }
        ul {
          font-size: 0.9em;
          background: transparent url("http://css-tricks.com/examples/ULStyle/images/graypixel.png") repeat-y 15px 0;
          margin-bottom: 10px;
          li {
            font-size: 0.9em;
            margin-left: 16px;
            padding-left: 10px;
            }
          }
        }
      }
    }
  }

#basket-list {
  min-width:200px;
  width: inherit;
  background-color: $light-grey;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
      border-bottom: 1px solid $dark-grey;
      &:last-child {
        border: none;
        }
      a {
        text-decoration: none;
        color: $dark-grey;
        display: block;
        width: 200px;

        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
        &::hover {
          font-size: 30px;
          background: $light-blue-link;
          }
        }
      }
    }
  }


// RESOURCES (might use?)

//SHINE ANIMATION
//
// .pulse span {
//   position: relative;
// }
//
// .pulse span::after {
//   content: '';
//   // opacity: 0;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(255, 255, 255, 1);
//   -moz-border-radius: 3px;
//   -webkit-border-radius: 3px;
//   border-radius: 3px;
//
//   -webkit-animation: pulsing 2s ease-out infinite;
//   -moz-animation: pulsing 2s ease-out infinite;
// }
//
// @-webkit-keyframes pulsing {
//   0% {opacity: 1; width: 0;}
//   50% {opacity: .5;}
//   100% {opacity: 0; width: 100%;}
// }
//
// @-moz-keyframes pulsing {
//   0% {opacity: 1; width: 0;}
//   50% {opacity: .5;}
//   100% {opacity: 0; width: 100%;}
// }
