<!-- <nav class="navbar navbar-default navbar-bottom" role="navigation">
  <div class="container">

      <div class="footer-peice small-6 medium-4 columns">
        <h3><span class="footer-label-class">HealthAware</span></h3>
        <div class="caption">
          <p>
            HealthAware is a one page javascript web application which utilizes the NutritionIX API to track a user's nutrition levels by meals.
          </p>
        </div>
      </div>
      <div class="footer-peice small-6 medium-4 columns">
          <center>
        <div class="btn-group-vertical">
          <ul class="list-group">
            <li class="list-group-item"><%= link_to "Github", "https://github.com/fiery-skippers-2014/HealthAware" %></li>
            <li class="list-group-item"><%= link_to "Devbootcamp", "http://devbootcamp.com" %></li>
            <li class="list-group-item"><%= link_to "Edit Profile", new_goal_path %></li>
            <li class="list-group-item"><%= link_to "Logout", logout_path %></li>
          </ul>
        </div>
          </center>

      </div>
      <div class="footer-peice small-6 medium-4 columns">
        <h3><span class="footer-label-class">Contact</span></h3>
        <div class="caption">
          <p>
            This is a full stack web application developed by Greg Gerla, Darrell Sommerlatt, Alexandra Swart, Kelley Puckett and Jackson Behan.
          </p>
        </div>
      </div>

  </div>
</nav> -->
