<%# add navigation links to this file %>
<ul class="right">
  <% if current_user %>
    <li><%= link_to "Add more goals", new_goal_path %></li>
    <li><%= link_to "Sign Out", logout_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Sign In", new_session_path %></li>
  <% end %>
</ul>
